.header {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    margin: 32px 0;
    color: white;
    transform: translateX(-50%);
    z-index: 1000;

    section {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }

    .logo {
        font-family: 'SpaceGrotesk-Regular';
        padding: 4px 0;
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #fff;
        background-color: initial;
        margin-left: initial;
        margin-bottom: 10px;
    }

    a {
        display: block;
        font-family: 'SpaceGrotesk-Bold';
        font-size: 16px;
        padding: 6px 8px 4px;
        background-color: #111111;
        color: white;
        margin-right: 16px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover,
        &.active {
            color: #151517;
            background-color: white;
        }
    }

    @media only screen and (min-width: 321px) {
        section {
            margin-bottom: initial;
            align-items: center;
            flex-direction: initial;
        }

        nav {
            a {
                margin-left: initial;
                margin-right: 16px;

                &:last-child {
                    margin-right: initial;
                }
            }
        }

        .logo {
            margin-bottom: initial;
        }
    }
}
