.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 32px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    z-index: 1000;

    nav {
        a {
            margin-right: initial;
        }
    }

    a {
        display: block;
        font-family: 'SpaceGrotesk-Bold';
        font-size: 16px;
        padding: 6px 8px 4px;
        background-color: #151517;
        color: white;
        margin-left: 16px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &.logo {
            font-family: 'SpaceGrotesk-Regular';
            padding: 4px 0;
            font-size: 16px;
            color: #999999;
            background-color: initial;
            margin-left: initial;
            margin-bottom: 10px;
        }

        &:hover,
        &.active {
            color: #151517;
            background-color: white;

            &.logo {
                background-color: initial;
                color: white;
            }
        }
    }

    @media only screen and (min-width: 321px) {
        margin-bottom: initial;
        align-items: center;
        flex-direction: initial;

        a {
            &.logo {
                margin-bottom: 0;
            }
        }
    }
}
