{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "app": "./src/frontend"
        }
      }
    ]
  ]
}
