.thumbnail {
    position: relative;
    width: 100%;
    height: 100%;

    color: white;
    overflow: hidden;

    .image {
        img {
            opacity: 0.8;
            width: 100%;
            filter: grayscale(100%);
        }

        .title {
            position: absolute;
            top: 16px;
            left: 16px;
            z-index: 1;
        }
    }

    @media (hover: none) {
        .image {
            img {
                opacity: 1;
                filter: grayscale(0%);
            }

            .title {
                opacity: 1;
            }
        }
    }
}
