.thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;

    .image {
        width: 50vw;
        height: 50vh;

        img {
            width: 100%;
        }

        .title {
            position: absolute;
            top: 16px;
            left: 16px;
            z-index: 1;
            pointer-events: none;
        }

        .over {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #111111;
            z-index: 2;
        }
    }

    @media only screen and (min-width: 768px) {
        .image {
            width: calc(100vw / 4);
            height: calc(100vw / 4);

            .title {
                top: 16px;
                left: 32px;
            }
        }
    }
}
