.soon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    canvas {
        display: block;
    }

    .content {
        position: absolute;
        right: 30px;
        bottom: 30px;
        width: 470px;

        h1 {
            font-family: 'SpaceGrotesk-Bold';
            font-size: 200px;
            line-height: 200px;
            text-align: right;
        }

        p {
            font-size: 18px;
            letter-spacing: 0;
            color: #dedede;
            text-align: right;
        }
    }
}
