.about {
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    padding: 128px 0;

    &__content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .img {
            // override defaults
            .image {
                width: 100vw;
                height: calc(100vw * 853 / 1280);
            }
        }

        section {
            width: calc(100% - 64px);
            margin: 32px;
        }

        @media only screen and (min-width: 768px) {
            flex-direction: initial;

            .img {
                .image {
                    width: 50vw;
                    height: calc(50vw * 853 / 1280);
                }
            }

            section {
                width: calc(50% - 32px);
                margin: 0 32px;
            }
        }

        @media only screen and (min-width: 1440px) {
            width: 1440px;
            margin: 0 auto;

            .img {
                .image {
                    width: 720px;
                    height: calc(720px * 853 / 1280);
                }
            }
        }
    }
}
