.home {
    display: flex;
    flex-direction: column;

    header {
        padding: 20px;
        background-color: #f9f9f9;
    }

    .list {
        display: flex;
    }

    &__thumb {
        width: 25%;
        margin: 20px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
