.work-detail {
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    padding: 128px 0;

    &__content {
        .hero {
            width: 100%;
            margin-bottom: 32px;
        }
        section {
            .info {
                display: flex;
                flex-direction: column;

                & > div {
                    display: flex;
                    min-width: 200px;

                    span {
                        &.highlight {
                            margin-left: 8px;
                            font-family: 'SpaceGrotesk-Bold';
                        }
                    }
                }
            }
            .technology {
                margin: 32px 0;
            }
        }

        @media only screen and (min-width: 1440px) {
            width: 1440px;
            margin: 0 auto;
        }
    }
}
