.work-detail {
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    padding: 128px 0;

    &__content {
        .hero {
            height: calc(100vw * 9 / 16);
            background-color: #202022;

            img {
                width: 100%;
            }
        }
        section {
            margin-top: 32px;
            margin-bottom: 32px;

            .info {
                display: flex;
                flex-direction: column;

                & > div {
                    display: flex;
                    min-width: 200px;

                    .highlight {
                        margin-left: 8px;
                        font-family: 'SpaceGrotesk-Bold';
                    }
                }
            }
            .technology {
                margin: 32px 0;
            }
            .block {
                margin-bottom: 64px;
            }
        }
        @media only screen and (min-width: 768px) {
            section {
                width: 50%;
            }
        }

        @media only screen and (min-width: 1440px) {
            width: 1440px;
            margin: 0 auto;

            .hero {
                height: calc(1440px * 9 / 16);
            }
        }
    }
}
