.fade-enter {
    opacity: 0.01;

    &.fade-enter-active {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
}

.fade-exit {
    opacity: 1;
    position: initial;
    top: initial;

    &.fade-exit-active {
        position: absolute;
        top: 0;
        opacity: 0.01;
        transition: opacity 0.5s ease-in-out;
    }
}
