.work {
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    padding: 128px 0;

    &__content {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(2, 1fr);

        .thumbnail {
            width: 50vw;
            height: 50vw;
        }

        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(4, 1fr);

            .thumbnail {
                width: calc(100vw / 4);
                height: calc(100vw / 4);
            }
        }

        @media only screen and (min-width: 1440px) {
            width: 1440px;
            margin: 0 auto;

            .thumbnail {
                width: calc(1440px / 4);
                height: calc(1440px / 4);
            }
        }
    }
}
