@font-face {
    font-family: 'SpaceGrotesk-Bold';
    src: url('/fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
        url('/fonts/SpaceGrotesk-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceGrotesk-Regular';
    src: url('/fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
        url('/fonts/SpaceGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceGrotesk-Light';
    src: url('/fonts/SpaceGrotesk-Light.woff2') format('woff2'),
        url('/fonts/SpaceGrotesk-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
