html,
body {
    margin: 0;
}

body {
    font-family: 'SpaceGrotesk-Regular', sans-serif;
    background-color: #151517;
    color: white;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

img {
    display: block;
}

section {
    max-width: calc(1440px + 0px);
    margin: 0 32px;
    // border: 1px dashed white;

    & > *:first-child {
        margin-top: initial;
    }

    @media only screen and (min-width: 1504px) {
        margin: 0 auto;
    }
}

ul {
    list-style: none;

    li {
        display: inline-block;
        background-color: #202022;
        font-size: 14px;
        border-radius: 6px;
        padding: 4px 10px;
        margin-right: 4px;
        margin-bottom: 4px;
        text-transform: lowercase;
    }
}

nav {
    display: flex;

    a {
        margin-right: 8px;
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::selection {
    background: #999;
}
